<ul class="country-list"></ul>
    <div class="country-card">
      <!-- <img class="country-flag" src="" alt=""> -->
      <h2 class="name">name</h2>      
      <p class="country-info">Capital: {{capital}}</p>
      <p class="country-info">Population: {{population}}</p>
      <p class="country-info">Languages: {{languages}}</p>
    </div>